extends layout

block content
  div.container
    h1= title
    p Welcome to Paige's #{title}
    
    h3 
      a(href="/items") See archived items 
    
    h3 
      a(href="/items/addItem") Add a new item
     
