extends layout

block content
  div.container
    h1= title
    p.homepage Welcome to Paige's #{title}
    div
      br
      h2.homepage
        a(href="/items") See archived items 
      h2.homepage
        a(href="/items/addItem") Add a new item
       
