body {
  padding: 50px;
  font-family: 'Cardo', serif;
  background-color: snow;
  text-align: center;
}

h1 {
  font-family: 'Volkhov', serif;
  font-size: 50px;
}

h3 {
  text-align: left;
  margin-left: 10%;
}

a {
  color: #00B7FF;
}

th {
  font-size: 32px;
}

table {
  font-size: 22px;
  margin-left: 10%;
  padding-right: 15%;
}

td {
  text-align: left;
}

p {
  text-align: left;
  font-size: 20px;
}
#addContact {
  color: Thistle;
  font-family: 'Volkhov', serif;
  font-size: 26px;
}

#editItem {
  height: 150px;
  width: 600px;
  border-radius: 4px;
}

#itemID {
  display:none;
}

.row {
  padding-bottom: 10px;
}

.icon {
  height: 45px;
  width: auto;
}

.fullImg {
  height: 100px;
  width: auto;
}
